.chat {
    margin: 1% auto;
    width: 90%;
    border-radius: 5px;
    padding: 0.5%
}
.chat > a {
    display: flex;
    align-items: center;
}

.chat:hover {
    background-color: rgb(105, 156, 250);
}

.newMessageChat {
    background-color: rgb(181, 181, 181);
}

.login {
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
}

.login > div:first-child {
    margin-right: 5px;
}

@media (max-width: 1000px) {
    .chat {
        width: 98%;
    }
}