.searchInptut, .searchItem {
    padding: 4px;
    width: 90%;
    margin: 1% auto;
}  

.searchItem {
    border-radius: 5px;
}

.searchItem:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 
@media (max-width: 1000px) {
    .searchInptut, .searchItem {
        width: 98%;
    }
}
